body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #1f1f1f;
    color: #ffffff;
    outline: none;
}

.search-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
}

.loader {
    text-align: center;
    display: none;
    margin-bottom: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.card {
    background-color: #1f1f1f;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-info {
    margin-top: 15px;
}

.card-info h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.card-info h3 {
    margin-bottom: 5px;
    font-size: 16px;
}

.card-info p {
    font-size: 14px;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }
    .search-container input[type="text"] {
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .search-container button {
        border-radius: 5px;
    }
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 10px;
    }
    .card {
        padding: 15px;
    }
    .card-info h2 {
        font-size: 18px;
    }
    .card-info h3 {
        font-size: 14px;
    }
    .card-info p {
        font-size: 12px;
    }
}
